@font-face {
    font-family: 'NULY';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NULY/NULY.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NULY/NULY.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NULY/NULY.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NULY/NULY.ttf') format('truetype');
}
